<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            background-color: coral;
            border: 20px solid black;
            border-radius: 20px;
            width:500px;
            height:400px;
            padding: 20px;
            background-image: url('xxn.png');
            margin:auto;
            
        }
        body{
            background-color: darkgrey;
        }
    </style>
</head>
<body>
    <div>
        <h1>Name:gayathri<br>Qualification:BE<br><Address>CBE<br>
        Exp:13yrs</Address></h1>
    </div>
</body>
</html>