<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .one{
            background-color: aqua;
        }
        h1{
            text-align: center;
        }
        .two
        {
            background-color: brown;
        }
        .three{
            background-color: burlywood;
        }
    </style>
</head>
<body>
    <p class="one">Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Sint totam, 
        veritatis aperiam velit tempore nihil. 
        Alias explicabo animi, aut laborum dolorem cum!
         Fugit amet quod, natus quisquam exercitationem
          ea ullam.</p>
          <p class="two">Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Sint totam, 
            veritatis aperiam velit tempore nihil. 
            Alias explicabo animi, aut laborum dolorem cum!
             Fugit amet quod, natus quisquam exercitationem
              ea ullam.</p> 
              <p class="three">Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. Sint totam, 
                veritatis aperiam velit tempore nihil. 
                Alias explicabo animi, aut laborum dolorem cum!
                 Fugit amet quod, natus quisquam exercitationem
                  ea ullam.</p>
                  <h1>This is my heading</h1>
</body>
</html>