<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width: 700px;
            height:500px;
            margin: auto;
            font-size: 15px;
            text-align: center;
            th{
                padding: 10px;
                font-size: 25px;
            }
          
        }
    </style>
</head>
<body>
    <form>
        <table border="1">
       <caption><h1><th colspan="2">Registration Form</th></h1></caption>
       <tr><td><label for="student name">Student Name</label></td>
       <td><input type="text" name="Student Name" value=""><br></td></tr>
        <tr><td><label for="Father's Name">Father's Name</label></td>
       <td><input type="text" name="Father's Name" value=""><br></td></tr>
        <tr><td><label for="Mother's Name">Mother's Name</label></td>
       <td><input type="text" name="Mother's Name" value=""><br></td></tr>
       <tr><td><label for="DOB">Date of Birth</label></td>
       <td><input type="date" name="Date of Birth" value=""><br></td></tr>
      <tr><td><label for="Gender">Gender</label></td>
       <td><input type="radio" name="gender" value="male">Male
        <input type="radio" name="gender" value="female">Female<br></td></tr>
       <tr><td><label for="email id">Email ID</label></td>
       <td><input type="email" name="Email ID" value=""><br></td></tr>
       <tr><td><label for="mobile no">Mobile NO.</label></td>
       <td><input type="number" name="Mobile No." value=""><br></td></tr>
       <tr><td><label for="address">Address</label></td>
       <td><textarea rows="5"></textarea><br></td></tr>
       <tr><td><label for="state">State</label></td>
       <td><input type="text" name="State" value=""><br></td></tr>
       <tr><td><label for="city">City</label></td>
        <td><input type="text" name="City" value=""><br></td></tr>
       <tr>
        <td colspan="2">
        <button type="submit">Submit</button>
    </td>
</tr>
    </table>
    </form>
    
</body>
</html>